<div class="weather-app">
    <div class="select-params">
        <h1>Select parameters:</h1>
        <select-params on-select-params="$ctrl.onSelectParams(rect, sex)"></select-params>
    </div>
    <div class="weather-list">
        <weather-list station-list="$ctrl.resultList"></weather-list>
    </div>
</div>