<div>
    <ul>
        <li ng-repeat="station in $ctrl.stationList track by station.name">
            <div><b>{{station.name}}</b>
                <div>temp: {{station.temp}} &#8451;   humidity: {{station.humidity}} delta: {{station.delta}}</div>
            </div>
        </li>
    </ul>
</div>