@font-face {
  font-family: 'Roboto';
  font-weight: 200;
  font-style: italic;
}

body {
  background-color: #eeeeee;
  font-family: 'Roboto';
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li:first-child{
    background-color: lightgreen;
  }

  li:nth-child(2){
    background-color: lightyellow;
  }
}

.weather-app {
  width: 800px;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 80px;

}

.group-param{
  display: grid;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto;
}

.example_d {
  margin-top: 30px;
  color: #494949 !important;
  text-transform: uppercase;
  background: #ffffff;
  padding: 10px 40px;
  border: 4px solid #999999 !important;
  border-radius: 6px;
  display: inline-block;
}

.example_d:hover {
  color: #494949 !important;
  border-radius: 50px;
  border-color: #494949 !important;
  transition: all 0.3s ease 0s;
}