<div>
    <div>
        <h3>Left bottom:</h3>
        <div class="group-param">
            <input ng-model="$ctrl.rect.bottom" type="text">
            <input ng-model="$ctrl.rect.left" type="text">

        </div>
    </div>
    <div>
        <h3>Right top:</h3>
        <div class="group-param">
            <input ng-model="$ctrl.rect.top" type="text">
            <input ng-model="$ctrl.rect.right" type="text">
        </div>
    </div>

    <div class="group-param">
        <div>
            <h3>Zoom:</h3>
            <input ng-model="$ctrl.rect.zoom" type="text">
        </div>
        <div>
            <h3>Sex:</h3>
            <select ng-model="$ctrl.sex">
                <option selected value="0">Male</option>
                <option value="1">Female</option>
            </select>
        </div>
    </div>

    <div class="button_cont"
         align="left">
        <a ng-click="$ctrl.onSubmit()"
           class="example_d"
           rel="nofollow noopener">Load</a>
    </div>

</div>
